.wrap {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color-default);
    margin-bottom: 12px;
}
