.qtt-product {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: var(--primary-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
