.listBuy {
    margin: 16px 0;
}

.customer,
.delivery {
    margin-top: 30px;

    & > p {
        color: #212b36;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.total {
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    padding: 10px 10px 15px;
    border: 1px solid rgba(145, 158, 171, 0.239);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 -4px 20px -1px rgba(40, 124, 234, 0.15);
    background-color: #fff;

    &-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 1.8rem;
            font-weight: 600;
        }

        span {
            font-weight: 600;
            font-size: 1.8rem;
            color: var(--price-current-color);
        }
    }

    .action {
        margin-top: 10px;

        &-buy {
            width: 100%;
            border-radius: 8px;
        }
    }
}

.action-buy + .action-buy {
    margin-left: 0;
}
